// Place all the styles related to the shortners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif !important;
  font-size: 50px;
}
.back-button {
  background-color: rgb(51,51,51);
   border: none;
   color: white;
   padding: 7px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 12px;
   border-radius: 18px;
 }
